$color1: #192626;
$color2: #243b40;
$color3: #5d7f8c;
$color4: #7297a6;
$color5: #d8d9d7;
$bebasNune: "Bebas Neue", cursive;
$robotoSlab: "Roboto Slab", serif;

header#Hd-intro {
    background-image: url(../../assets/imgs/floresta.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;

    #container-section {
        // border: yellow solid 1px;
        display: flex;
        justify-content: center;

        width: 100%;
        height: max-content;

        margin-top: 16%;
    }

    section#intro {
        cursor: crosshair;
        font-family: $robotoSlab;
        font-weight: 300;
        color: $color5;

        background-image: linear-gradient(to bottom, #19262674, #00000000);

        display: flex;
        flex-direction: column;

        height: 435px;
        width: 60%;

        border-radius: 1rem;

        padding: 40px;

        transform-style: preserve-3d;
        transform: perspective(1000px);
        h1 {
            transform: translateZ(70px);
            font-weight: 300;
            font-size: 100px;

            text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.473);
        }

        h2 {
            transform: translateZ(70px);
            font-size: 72px;
            font-weight: 300;

            text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.473);
        }

        p {
            transform: translateZ(70px);
            font-size: 32px;

            text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.473);
        }

        div#containerImgs {
            transform: translateZ(70px);
            display: flex;

            margin-top: 5px;
            gap: 30px;
            img {
                width: 55px;
                height: 55px;

                filter: drop-shadow(4px 4px 5px #000000b4);
            }
        }
    }
}

@media screen and (max-width: 1045px) {
    header#Hd-intro {
        #container-section {
            justify-content: center;

            margin-top: 150px;

            section#intro {
                width: 70%;
            }
        }
    }
}

@media screen and (max-width: 675px) {
    header#Hd-intro {
        #container-section {
            section#intro {
                width: 80%;
                height: 100%;
                margin: 0px;

                h1 {
                    font-size: 4rem;
                }
                h2 {
                    font-size: 2rem;
                }
                p {
                    font-size: 2rem;
                }

                #containerImgs {
                    width: 100%;
                    height: 100%;

                    margin-top: 15px;

                    display: grid;
                    grid-template-areas:
                        "img img img"
                        "img img img";

                    justify-content: space-evenly;
                }
            }
        }
    }
}
