$color1: #192626;
$color2: #243b40;
$color3: #5d7f8c;
$color4: #7297a6;
$color5: #d8d9d7;
$bebasNune: "Bebas Neue", cursive;
$robotoSlab: "Roboto Slab", serif;

section#tech {
  width: 100%;
  height: 100vh;
  background-color: $color1;

  font-family: $bebasNune;

  display: flex;
  flex-direction: column;

  h1 {
    color: $color5;
    font-size: 72px;
    text-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.5);

    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 3;
  }

  #containerTech {
    width: 98%;
    height: 100%;

    padding: 45px;
    margin: 15px auto;

    display: flex;
    align-items: center;

    overflow-x: scroll;
    overflow-y: hidden;

    border-radius: 0.6rem;

    box-shadow: inset 0px 25px 10px rgba(0, 0, 0, 0.452),
      inset 0px -25px 10px rgba(0, 0, 0, 0.452);

    &::-webkit-scrollbar {
      background-color: #192626;
      height: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #7297a6;
      border-radius: 0.7rem;
    }

    .card {
      // background-image: url(../../assets/imgs/floresta-com-neblina.jpg);
      background-size: cover;
      background-position: bottom center;

      border: solid 1px;
      border-top-color: rgb(201, 201, 201);
      border-left-color: rgb(201, 201, 201);
      border-right-color: #353535;
      border-bottom-color: #353535;

      min-width: 250px;
      min-height: 350px;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin: 20px;

      gap: 20px;

      border-radius: 0.8rem;

      box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.7);

      transition: 0.1s;
      &:hover {
        transform: scale(1.1);
      }

      .name-icon {
        font-size: 48px;
        color: $color5;
      }

      img.card-img {
        width: 40%;

        border-radius: 0.7rem;
        margin-top: 60px;
      }
    }

    .bg-1 {
      background-image: url(../../assets/imgs/lago_com_montanha.jpg);
    }
  }
}
