$color1: #192626;
$color2: #243b40;
$color3: #5d7f8c;
$color4: #7297a6;
$color5: #d8d9d7;
$bebasNune: "Bebas Neue", cursive;
$robotoSlab: "Roboto Slab", serif;

section#tech {
  width: 100%;
  height: 100vh;
  background-color: $color2;

  font-family: $bebasNune;

  display: flex;
  flex-direction: column;

  h1 {
    background-color: $color1;
    color: $color5;
    font-size: 72px;
    text-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.5);

    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 3px 25px 20px rgba(0, 0, 0, 0.452);
    z-index: 3;
  }

  #containerTech {
    width: 100%;

    padding: 45px;

    display: flex;

    overflow-x: scroll;
    overflow-y: hidden;

    &::-webkit-scrollbar {
      background-color: #243b40;
      height: 7px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #7297a6;
      border-radius: 0.7rem;
    }

    .card {
      background-image: url(../../assets/imgs/floresta-com-neblina.jpg);
      background-size: cover;
      background-position: bottom center;

      border: solid 1px;
      border-top-color: white;
      border-left-color: white;
      border-right-color: #353535;
      border-bottom-color: #353535;

      width: min(250px);
      height: min(350px);

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin: 20px;

      gap: 20px;

      border-radius: 0.8rem;

      box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.7);

      transition: 0.1s;
      &:hover {
        transform: scale(1.1);
      }

      .name-icon {
        font-size: 48px;
        color: $color5;
      }

      img.card-img {
        width: 40%;

        border-radius: 0.7rem;
        margin-top: 60px;
      }
    }
  }
}
