$color1: #192626;
$color2: #243b40;
$color3: #5d7f8c;
$color4: #7297a6;
$color5: #d8d9d7;
$bebasNune: "Bebas Neue", cursive;
$robotoSlab: "Roboto Slab", serif;

section#containerSM {
    color: #fff;
    display: flex;

    section#SobreMim {
        background-color: #192626a2;

        font-family: $robotoSlab;

        text-align: justify;

        display: flex;
        flex-direction: column;
        width: 70%;

        margin: 25px auto;
        padding: 100px;
        border-radius: 1em;

        h2 {
            color: $color5;
            font-size: 48px;
            font-weight: normal;
            margin-bottom: 10px;
        }
        div {
            p {
                color: #fff;
                margin-top: 15px;
                font-size: 24px;
            }
        }
    }
}

@media screen and (max-width: 1045px) {
    section#containerSM {
        background-image: url(../../assets/imgs/lago_com_montanha.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;

        height: auto;
        transition: 1s;

        flex-direction: column;

        section#SobreMim {
            text-align: justify;
            width: auto;
            background-color: #192626a2;
            padding: 100px;
        }
    }
}

@media screen and (max-width: 675px) {
    section#containerSM {
        aside#my-data {
            padding-left: 30px;
            img#foto {
                width: 200px;
                height: 200px;

                margin: 0;
            }
        }

        div {
            p:nth-child(1) {
                font-size: 48px;
            }

            p:nth-child(2),
            p:nth-child(3) {
                font-size: 22px;
            }
        }

        section#SobreMim {
            padding-inline: 35px;
        }
    }
}
