section#containerSM {
  background-image: linear-gradient(to bottom, #192626, #243b40);
  color: #fff;
  display: flex;
}
section#containerSM aside {
  position: relative;
  background-image: url(../../assets/imgs/lago_com_montanha.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 470px;
  margin-left: 30px;
  font-family: "Bebas Neue", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 1rem 1rem;
  overflow: hidden;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.4196078431);
}
section#containerSM aside img#triangulo {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  width: 101%;
  opacity: 0.9;
}
section#containerSM aside img#foto {
  width: 400px;
  height: 400px;
  margin-top: 45px;
  filter: drop-shadow(7px 7px 7px rgba(0, 0, 0, 0.7960784314));
  transition: 0.5s;
}
section#containerSM aside div {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
section#containerSM aside p:nth-child(1) {
  font-size: 72px;
  margin-bottom: -20px;
  filter: drop-shadow(7px 7px 3px rgba(0, 0, 0, 0.7960784314));
}
section#containerSM aside p:nth-child(2),
section#containerSM aside p:nth-child(3) {
  font-size: 36px;
  margin-bottom: -5px;
  filter: drop-shadow(7px 7px 3px rgba(0, 0, 0, 0.7960784314));
}
section#containerSM section#SobreMim {
  font-family: "Roboto Slab", serif;
  padding: 40px;
  display: flex;
  flex-direction: column;
  width: 60%;
}
section#containerSM section#SobreMim h2 {
  color: #d8d9d7;
  font-size: 48px;
  font-weight: normal;
  margin-bottom: 10px;
}
section#containerSM section#SobreMim div p {
  color: #fff;
  margin-top: 15px;
  font-size: 24px;
}

@media screen and (max-width: 1045px) {
  section#containerSM {
    background-image: url(../../assets/imgs/lago_com_montanha.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
    transition: 1s;
    flex-direction: column;
  }
  section#containerSM aside#my-data {
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    background-image: none;
    background-color: rgba(25, 38, 38, 0.6352941176);
    background-attachment: scroll;
    border-radius: 0;
    border-bottom: 1px solid #243b40;
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-left: 15%;
    box-shadow: none;
  }
  section#containerSM aside#my-data div {
    background-image: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section#containerSM aside#my-data div p:nth-child(1) {
    font-size: 55px;
  }
  section#containerSM aside#my-data div p:nth-child(2),
section#containerSM aside#my-data div p:nth-child(3) {
    font-size: 30px;
  }
  section#containerSM aside#my-data img#triangulo {
    display: none;
  }
  section#containerSM aside#my-data img#foto {
    width: 300px;
    height: 300px;
    margin: 0;
  }
  section#containerSM section#SobreMim {
    text-align: justify;
    width: auto;
    background-color: rgba(25, 38, 38, 0.6352941176);
    padding-inline: 100px;
  }
}
@media screen and (max-width: 675px) {
  section#containerSM aside#my-data {
    padding-left: 30px;
  }
  section#containerSM aside#my-data img#foto {
    width: 200px;
    height: 200px;
    margin: 0;
  }
  section#containerSM div p:nth-child(1) {
    font-size: 48px;
  }
  section#containerSM div p:nth-child(2),
section#containerSM div p:nth-child(3) {
    font-size: 22px;
  }
  section#containerSM section#SobreMim {
    text-align: start;
    padding-inline: 35px;
  }
}
@media screen and (max-width: 445px) {
  section#containerSM aside#my-data {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  section#containerSM aside#my-data img#foto {
    padding: 0;
    margin: 0;
    margin-top: 15px;
    width: 170px;
    height: 170px;
  }
  section#containerSM aside#my-data div {
    padding: 0;
    margin: 0;
    width: 100%;
  }
}/*# sourceMappingURL=containerSM.css.map */