$color1: #192626;
$color2: #243b40;
$color3: #5d7f8c;
$color4: #7297a6;
$color5: #d8d9d7;
$bebasNune: "Bebas Neue", cursive;
$robotoSlab: "Roboto Slab", serif;

nav#navegation {
    position: absolute;

    height: min-content;
    width: 0px;

    font-family: $bebasNune;

    transition: 0.2s;

    z-index: 10;

    a {
        color: $color1;
        text-decoration: none;
        font-size: 42px;
        display: none;

        &:hover {
            color: $color3;
        }
    }

    button#btn-menu {
        position: absolute;
        top: 55px;
        left: 10px;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 60px;
        height: 60px;

        background-color: #76828577;
        border: none;
        border-radius: 0.3rem;

        transition: 0.2s;

        cursor: pointer;

        .bi-list {
            fill: $color1;
        }
        .bi-x-lg {
            display: none;
        }

        &:active {
            border: $color5 solid;

            .bi-list {
                fill: $color5;
            }

            .bi-x-lg {
                fill: $color5;
            }
        }
    }

    &.active {
        position: absolute;

        width: 400px;
        height: 100%;

        margin: 0;
        border-radius: 0;

        z-index: 10;
        background-color: $color2;

        display: flex;
        flex-direction: column;
        justify-content: center;

        padding-left: 25px;

        a {
            display: block;
            width: 75%;
        }

        #btn-menu {
            top: 55px;
            left: 75%;
            border-color: $color3;

            background-color: #19262669;

            .bi-list {
                display: none;
            }
            .bi-x-lg {
                fill: $color3;
                display: block;
            }
        }
    }
}

@media screen and (max-width: 675px) {
    nav#navegation {
        transition: 0.3s;

        width: 70px;
        border: 0;
        border-radius: none;

        &.active {
            border-radius: 0;
            width: 80%;
            height: 100%;
            margin: 0;
        }

        a {
            font-size: 3rem;
            transition: 0.5s;
        }
    }
}
