$color1: #192626;
$color2: #243b40;
$color3: #5d7f8c;
$color4: #7297a6;
$color5: #d8d9d7;
$bebasNune: "Bebas Neue", cursive;
$robotoSlab: "Roboto Slab", serif;

#MyProjects {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    h2 {
        font-size: 55px;
        font-family: $bebasNune;
        color: white;
    }

    p {
        color: white;
    }
}
