@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Slab:wght@300;400&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

header#Hd-intro {
  background-image: url(../assets/imgs/floresta.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
header#Hd-intro nav {
  font-family: "Bebas Neue", cursive;
  border: solid 5px #192626;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  min-height: 110px;
  margin-inline: auto;
  margin-top: 80px;
  transition: 0.2s;
  z-index: 100;
}
header#Hd-intro nav:hover {
  transform: scale(1.1);
}
header#Hd-intro nav a {
  color: #192626;
  text-decoration: none;
  font-size: 42px;
}
header#Hd-intro nav a:hover {
  color: #5d7f8c;
}
header#Hd-intro nav button#btn-menu {
  display: none;
}
header#Hd-intro nav button#btn-menu .bi-list {
  fill: #192626;
}
header#Hd-intro nav button#btn-menu .bi-x-lg {
  display: none;
}
header#Hd-intro #container-section {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-top: 40px;
}
header#Hd-intro section#intro {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  color: #d8d9d7;
  background-image: linear-gradient(to bottom, rgba(25, 38, 38, 0.4549019608), rgba(0, 0, 0, 0));
  display: flex;
  flex-direction: column;
  height: 435px;
  min-width: 45%;
  margin-right: 20px;
  border-radius: 1rem;
  padding: 40px;
  transform-style: preserve-3d;
  transform: perspective(1000px);
}
header#Hd-intro section#intro h1 {
  transform: translateZ(70px);
  font-weight: 300;
  font-size: 100px;
}
header#Hd-intro section#intro h2 {
  transform: translateZ(70px);
  font-size: 72px;
  font-weight: 300;
}
header#Hd-intro section#intro p {
  transform: translateZ(70px);
  font-size: 32px;
}
header#Hd-intro section#intro div#containerImgs {
  transform: translateZ(70px);
  display: flex;
  margin-top: 5px;
  gap: 30px;
}
header#Hd-intro section#intro div#containerImgs img {
  width: 55px;
  height: 55px;
}

section#containerSM {
  background-image: linear-gradient(to bottom, #192626, #243b40);
  color: #fff;
  display: flex;
}
section#containerSM aside {
  position: relative;
  background-image: url(../assets/imgs/lago_com_montanha.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 470px;
  margin-left: 30px;
  font-family: "Bebas Neue", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 1rem 1rem;
  overflow: hidden;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.4196078431);
}
section#containerSM aside img#triangulo {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  width: 101%;
  opacity: 0.9;
}
section#containerSM aside img#foto {
  width: 400px;
  height: 400px;
  margin-top: 45px;
  filter: drop-shadow(7px 7px 7px rgba(0, 0, 0, 0.7960784314));
  transition: 0.5s;
}
section#containerSM aside div {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
section#containerSM aside p:nth-child(1) {
  font-size: 72px;
  margin-bottom: -20px;
  filter: drop-shadow(7px 7px 3px rgba(0, 0, 0, 0.7960784314));
}
section#containerSM aside p:nth-child(2),
section#containerSM aside p:nth-child(3) {
  font-size: 36px;
  margin-bottom: -5px;
  filter: drop-shadow(7px 7px 3px rgba(0, 0, 0, 0.7960784314));
}
section#containerSM section#SobreMim {
  font-family: "Roboto Slab", serif;
  padding: 40px;
  display: flex;
  flex-direction: column;
  width: 60%;
}
section#containerSM section#SobreMim h2 {
  color: #d8d9d7;
  font-size: 48px;
  font-weight: normal;
  margin-bottom: 10px;
}
section#containerSM section#SobreMim div p {
  color: #fff;
  margin-top: 15px;
  font-size: 24px;
}

@media screen and (max-width: 1045px) {
  header#Hd-intro nav {
    position: absolute;
    width: 70px;
    border: 0;
    margin: 30px 0px 0px 10px;
  }
  header#Hd-intro nav:hover {
    transform: scale(1);
  }
  header#Hd-intro nav a {
    display: none;
  }
  header#Hd-intro nav button#btn-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: rgba(118, 130, 133, 0.4666666667);
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
  }
  header#Hd-intro nav button#btn-menu:active {
    border: #d8d9d7 solid;
  }
  header#Hd-intro nav button#btn-menu:active .bi-list {
    fill: #d8d9d7;
  }
  header#Hd-intro nav button#btn-menu:active .bi-x-lg {
    fill: #d8d9d7;
  }
  header#Hd-intro nav.active {
    width: 400px;
    height: 100%;
    margin: 0;
    border-radius: 0;
    z-index: 10;
    background-color: #243b40;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  header#Hd-intro nav.active a {
    display: block;
    width: 75%;
  }
  header#Hd-intro nav.active #btn-menu {
    border-color: #5d7f8c;
    background-color: rgba(25, 38, 38, 0.4117647059);
    position: absolute;
    top: 55px;
    right: 30px;
  }
  header#Hd-intro nav.active #btn-menu .bi-list {
    display: none;
  }
  header#Hd-intro nav.active #btn-menu .bi-x-lg {
    fill: #5d7f8c;
    display: block;
  }
  header#Hd-intro #container-section {
    justify-content: center;
    margin-top: 150px;
  }
  header#Hd-intro #container-section section#intro {
    width: 80%;
    margin-right: 0;
  }
  section#containerSM {
    background-image: url(../assets/imgs/lago_com_montanha.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
    transition: 1s;
    flex-direction: column;
  }
  section#containerSM aside#my-data {
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    background-image: none;
    background-color: rgba(25, 38, 38, 0.6352941176);
    background-attachment: scroll;
    border-radius: 0;
    border-bottom: 1px solid #243b40;
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-left: 15%;
    box-shadow: none;
  }
  section#containerSM aside#my-data div {
    background-image: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section#containerSM aside#my-data div p:nth-child(1) {
    font-size: 55px;
  }
  section#containerSM aside#my-data div p:nth-child(2),
section#containerSM aside#my-data div p:nth-child(3) {
    font-size: 30px;
  }
  section#containerSM aside#my-data img#triangulo {
    display: none;
  }
  section#containerSM aside#my-data img#foto {
    width: 300px;
    height: 300px;
    margin: 0;
  }
  section#containerSM section#SobreMim {
    text-align: justify;
    width: auto;
    background-color: rgba(25, 38, 38, 0.6352941176);
    padding-inline: 100px;
  }
}
@media screen and (max-width: 675px) {
  header#Hd-intro nav {
    transition: 0.3s;
    width: 70px;
    border: 0;
    border-radius: none;
  }
  header#Hd-intro nav.active {
    border-radius: 0;
    width: 100%;
    height: 100%;
    margin: 0;
  }
  header#Hd-intro nav a {
    font-size: 3rem;
    transition: 0.5s;
  }
  header#Hd-intro #container-section section#intro {
    background-image: none;
    border-radius: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
    transform: scale(1);
    transition: 0.5s;
  }
  header#Hd-intro #container-section section#intro h1 {
    font-size: 4rem;
    text-shadow: 4px 4px 4px black;
  }
  header#Hd-intro #container-section section#intro h2 {
    font-size: 2rem;
    text-shadow: 4px 4px 4px black;
  }
  header#Hd-intro #container-section section#intro p {
    font-size: 2rem;
    text-shadow: 4px 4px 4px black;
  }
  header#Hd-intro #container-section section#intro #containerImgs {
    width: 100%;
    height: 100%;
    margin-top: 15px;
    display: grid;
    grid-template-areas: "img img img" "img img img";
    justify-content: space-evenly;
  }
  section#containerSM aside#my-data {
    padding-left: 30px;
  }
  section#containerSM aside#my-data img#foto {
    width: 200px;
    height: 200px;
    margin: 0;
  }
  section#containerSM div p:nth-child(1) {
    font-size: 48px;
  }
  section#containerSM div p:nth-child(2),
section#containerSM div p:nth-child(3) {
    font-size: 22px;
  }
  section#containerSM section#SobreMim {
    text-align: start;
    padding-inline: 35px;
  }
}
@media screen and (max-width: 375px) {
  section#containerSM aside#my-data {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  section#containerSM aside#my-data img#foto {
    padding: 0;
    margin: 0;
    margin-top: 15px;
    width: 170px;
    height: 170px;
  }
  section#containerSM aside#my-data div {
    padding: 0;
    margin: 0;
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */