@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Slab:wght@300;400&display=swap");
$color1: #192626;
$color2: #243b40;
$color3: #5d7f8c;
$color4: #7297a6;
$color5: #d8d9d7;
$bebasNune: "Bebas Neue", cursive;
$robotoSlab: "Roboto Slab", serif;
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  max-width: 100vw;
  height: 100vh;

  overflow-x: hidden;
}

header#Hd-intro {
  background-image: url(../assets/imgs/floresta.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;

  nav {
    font-family: $bebasNune;

    border: solid 5px $color1;
    border-radius: 15px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 60%;
    min-height: 110px;

    margin-inline: auto;
    margin-top: 80px;

    transition: 0.2s;

    z-index: 100;
    &:hover {
      transform: scale(1.1);
    }

    a {
      color: $color1;
      text-decoration: none;
      font-size: 42px;

      &:hover {
        color: $color3;
      }
    }

    button#btn-menu {
      display: none;

      .bi-list {
        fill: $color1;
      }
      .bi-x-lg {
        display: none;
      }
    }
  }

  #container-section {
    // border: yellow solid 1px;
    display: flex;
    justify-content: flex-end;

    width: 100%;
    height: max-content;

    margin-top: 40px;
  }

  section#intro {
    font-family: $robotoSlab;
    font-weight: 300;
    color: $color5;

    background-image: linear-gradient(to bottom, #19262674, #00000000);

    display: flex;
    flex-direction: column;

    height: 435px;
    min-width: 50%;

    border-radius: 20px 20px 0px 0px;

    padding: 40px;
    transform: scale(0.9);

    h1 {
      font-weight: 300;
      font-size: 100px;
    }

    h2 {
      font-size: 72px;
      font-weight: 300;
    }

    p {
      font-size: 32px;
    }

    div#containerImgs {
      display: flex;

      margin-top: 5px;
      gap: 30px;
      img {
        width: 55px;
        height: 55px;
      }
    }
  }
}

section#containerSM {
  background-image: linear-gradient(to bottom, #192626, #243b40);
  color: #fff;
  display: flex;

  aside {
    position: relative;

    background-image: url(../assets/imgs/lago_com_montanha.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;

    min-width: 470px;

    margin-left: 30px;

    font-family: $bebasNune;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 0 0 1rem 1rem;
    overflow: hidden;

    box-shadow: 4px 4px 15px #0000006b;

    img#triangulo {
      position: absolute;
      margin: 0;

      top: 0;
      left: 0;

      width: 101%;
      opacity: 0.9;
    }

    img#foto {
      width: 400px;
      height: 400px;

      margin-top: 45px;
      filter: drop-shadow(7px 7px 7px #000000cb);

      transition: 0.5s;
    }

    div {
      height: 100%;
      width: 100%;

      background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.7),
        transparent
      );

      display: flex;
      flex-direction: column;
      align-items: center;
      user-select: none;
    }

    p:nth-child(1) {
      font-size: 72px;
      margin-bottom: -20px;
      filter: drop-shadow(7px 7px 3px #000000cb);
    }

    p:nth-child(2),
    p:nth-child(3) {
      font-size: 36px;
      margin-bottom: -5px;
      filter: drop-shadow(7px 7px 3px #000000cb);
    }
  }

  section#SobreMim {
    font-family: $robotoSlab;
    padding: 40px;

    h2 {
      color: $color5;
      font-size: 48px;
      font-weight: normal;
      margin-bottom: 10px;
    }
    div {
      p {
        color: #fff;
        margin-top: 15px;
        font-size: 24px;
      }
    }
  }
}

@media screen and (max-width: 1045px) {
  header#Hd-intro {
    nav {
      position: absolute;

      width: 70px;
      border: 0;

      margin: 30px 0px 0px 10px;

      &:hover {
        transform: scale(1);
      }

      a {
        display: none;
      }

      button#btn-menu {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 60px;
        height: 60px;

        background-color: #76828577;
        border: none;
        border-radius: 0.3rem;

        cursor: pointer;

        &:active {
          border: $color5 solid;

          .bi-list {
            fill: $color5;
          }

          .bi-x-lg {
            fill: $color5;
          }
        }
      }

      &.active {
        width: 400px;
        height: 100%;

        margin: 0;
        border-radius: 0;

        z-index: 10;
        background-color: $color2;

        display: flex;
        flex-direction: column;
        justify-content: center;

        a {
          display: block;
          width: 75%;
        }

        #btn-menu {
          border-color: $color3;

          background-color: #19262669;

          position: absolute;
          top: 55px;
          right: 30px;

          .bi-list {
            display: none;
          }
          .bi-x-lg {
            fill: $color3;
            display: block;
          }
        }
      }
    }

    #container-section {
      justify-content: center;

      margin-top: 150px;

      section#intro {
        width: 80%;
      }
    }
  }

  section#containerSM {
    background-image: url(../assets/imgs/lago_com_montanha.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    height: auto;
    transition: 1s;

    flex-direction: column;

    aside#my-data {
      backdrop-filter: blur(10px);
      background-image: none;
      background-color: #192626a2;
      background-attachment: scroll;

      border-radius: 0;
      border-bottom: 1px solid $color2;

      width: 100%;
      height: 350px;

      display: flex;

      flex-direction: row;

      justify-content: center;
      align-items: center;

      margin: 0;
      padding-left: 15%;

      box-shadow: none;

      div {
        background-image: none;
        display: flex;
        justify-content: center;
        align-items: center;

        p:nth-child(1) {
          font-size: 55px;
        }

        p:nth-child(2),
        p:nth-child(3) {
          font-size: 30px;
        }
      }

      img#triangulo {
        display: none;
      }

      img#foto {
        width: 300px;
        height: 300px;

        margin: 0;
      }
    }

    section#SobreMim {
      background-color: #192626a2;
      padding-left: 100px;
    }
  }
}

@media screen and (max-width: 675px) {
  header#Hd-intro {
    nav {
      transition: 0.3s;

      width: 70px;
      border: 0;
      border-radius: none;

      &.active {
        border-radius: 0;
        width: 100%;
        height: 100%;
        margin: 0;
      }

      a {
        font-size: 3rem;
        transition: 0.5s;
      }
    }

    #container-section {
      transition: 0.5s;

      section#intro {
        transition: 0.5s;
        background-image: none;
        border-radius: 0;

        width: 100%;
        height: 100%;
        margin: 0px;
        transform: scale(1);
        transition: 0.5s;

        h1 {
          font-size: 4rem;
          text-shadow: 4px 4px 4px black;
        }
        h2 {
          font-size: 2rem;
          text-shadow: 4px 4px 4px black;
        }
        p {
          font-size: 2rem;
          text-shadow: 4px 4px 4px black;
        }

        #containerImgs {
          width: 100%;
          height: 100%;

          margin-top: 15px;

          display: grid;
          grid-template-areas:
            "img img img"
            "img img img";

          justify-content: space-evenly;
        }
      }
    }
  }

  section#containerSM {
    aside#my-data {
      padding-left: 30px;
      img#foto {
        width: 200px;
        height: 200px;

        margin: 0;
      }
    }

    div {
      p:nth-child(1) {
        font-size: 48px;
      }

      p:nth-child(2),
      p:nth-child(3) {
        font-size: 22px;
      }
    }

    section#SobreMim {
      padding-left: 50px;
    }
  }
}
